:root {
  --text: #2c3e50;
  --text-l: #ecf0f1;
  --card-bg: #ecf0f1;
  --btn-p: #3498db;
  --btn-w: #f1c40f;
  --btn-c: #1abc9c;
  --btn-d: #e74c3c;
  --border: #bdc3c7;
  --shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
