:root {
  --light: #f7fff7;
  --primary: #4ecdc4;
  --dark: #1a535c;
  --warning: #ffe66d;
  --danger: #ff6b6b;
  --shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
